
  
  .start-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
  }
  
  /* Header */
  .start-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  .profile-title{
    margin-top: 60px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    letter-spacing: -1px;
    font-size: 32px;
    font-weight: 600;
  }
  .start-logo {
    font-weight: bold;
    color: #157a3a;
  }
  
  .start-logo span {
    font-size: 26px;
    color: black;
  }
  
  .help {
    font-size: 14px;
    color: #157a3a;
    display: flex;
    align-items: center;
  }
  
  .help i {
    margin-right: 5px;
  }
  
  /* Main Content */
  .profile-pic {
    border-radius: 50%;
    height: 48px;
    margin-right: -50%;
    position: absolute;
    width: 48px;
    overflow: hidden;
    border: 0.4px solid rgb(199, 201, 197);
    left: 50%;
    top: 11.9%;
    transform: translate(-50%, -50%);
  }
  
 .start-container h1 {
    font-size: 20px;
    margin: 10px 0;
  }
  
  .start-container h2 {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: normal;
  }
  
  /* Options */
  .options {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  
  .option {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 12px;
    background: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    padding: 10px 24px;
    text-align: left;
    font-weight: 600;
    font-family: "Better Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
    border: 1px solid rgb(164, 168, 164);

  }
  .loan-fund{
    display: flex;
    flex-direction: row;
    gap:40px;
    margin: 0 auto;
  }
  .option:hover {
    border: 3px solid #157a3a;
  }

  /* Progress Bar */
.main-content .progress {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
  }
 
 .main-content .progress-track {
    width: 100%;
    height: 6px;
    background-color: #e0e0e0;
    border-radius: 3px;
    overflow: hidden;
  }
  
  .main-content .progress-bar {
    width: 0%;
    height: 100%;
    background-color: #157a3a;
    transition: width 0.5s ease-in-out;
  }
  
  /* Footer */
  .footer {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    padding: 20px;
  }
  
  .start h2 {
    font-size: 24px;
    margin-bottom: 5px;
    font-weight: 500;
  }
  
  .start p {
    font-size: 14px;
    color: gray;
  }
  .features-container {
    margin: 0 auto;
    padding: 20px;
    width: 500px;
    border-radius: 8px;
   background-color: #f0f7f1;
   
  }
  
  .features-title {
    font-size: 16px;
    color: #333;
    margin-bottom: 15px;
    text-align: center;
  }
  
  .features-list {
    display: flex;
    flex-direction: column;
  }
  
  .feature-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 6px;
    
  }
  
  .features-icon {
    font-size: 20px;
    color: #017848;
  }
  
  .feature-text {
    font-size: 14px;
    color: #222;
  }
  